.header{
   width:100%;
   height:400px;
   position: absolute;
   background: linear-gradient(#8C52FF, #fff);
}
.title {
    position: relative;
    margin-top: 180px;
    font-size: 50px;
    font-weight: bolder;
    color: #fff;
    padding-bottom: 14px;
    margin-bottom: 25px;
    text-align: center;
  }
.title:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 3px;
    background-color: #8c52ff;
    border-radius: 3px;
  }
  
.title:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(30px);
    width: 10px;
    height: 3px;
    background-color: #cb6ce6;
    border-radius: 3px;
  }

.about-section{
    margin: 50px;
    display: flex;
    position: relative;
}
.about-section .about-text {
    margin: 50px;
}

.about-section .about-text h2{
    color: #8C52FF;
    margin-bottom: 10px;
    font-family: "DM Sans", sans-serif;
    font-size: 35px;
    text-transform: uppercase;
}


.about-section .about-text p{
    color: black;
    text-align: justify;
    font-size: 20px;
}

.about-section img{
    width: 500px;
    border-radius: 20px;
    box-shadow: 0 0 13px 4px #8C52FF;
}

@media only screen and (max-width: 1286px){
    .about-section{
        flex-direction: column-reverse;

    }
}
